/* reset do css*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

p{
    color: #200101c4;
    font-size: 15px;
    font-family: arial;
    margin-left: 30px;
    margin-right: 30px;
}

body{
    background-color: #C0C0C0;
    font-family: Arial;
    font-size: 12px;
}

/* Se a tela tiver pelo menos 400px vai carregar esses estilos */
@media(min-width: 400px){
    body{
        font-size: 14px;
    }
}

header{     /* 380px pra baixo o cabeçalho buga */
    background: linear-gradient(to bottom, #200101c4 0%, #725c5c 100%);
    height: 140px;
    padding: 10px;
}

footer{
    clear: both;
    background: linear-gradient(to bottom, #200101c4 0%, #725c5c 100%);
    height: 50px;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}

h1{
    color: #200101c4;
    margin-top: -30px;
    text-align: center;
 }

h3{
    color: #200101c4;
    margin-left: 30px;
    margin-right: 30px;
 }

h5{
    color: #C0C0C0;
    text-align: center;
 }

.div_principal{
     background-color: #c0a9a97a;
     clear: both;
     background-size: 100%;
     min-height: 460px;
     padding: 50px 0 0 0;
     }

.nome {
    color: #C0C0C0;
    font-size: 35px;
    margin-top: 40px;
    text-align:left;
}

.menu{
    list-style:none; 
    border: 1px solid #c0c0c0;  /* cor da bordinha */ 
    float:right; 
    }

.menu li{
    position: relative;
    float: right;
    border-right:1px solid #c0c0c0; /*cor do risquinho dentro da bordinha*/
    }

.menu li a{
    background-color: #725c5c; /*cor do fundinho antes de passar o mouse */
    color:#C0C0C0;   /*cor do escrito*/
    text-decoration:none; 
    padding:5px 35px; 
    display: block;
}
 
.menu li a:hover{          /*hover é quando passa o mouse*/
    background: #725c5c;  /* cor do fundinho quando passsa o mouse*/
    color:#C0C0C0;           /*cor da letra quando passa o mouse*/
    -moz-box-shadow:0 3px 10px 0 #CCC;   /* moz é para o efeito funcionar no Google Chrome e Safari */
    -webkit-box-shadow:0 3px 10px 0 #ccc;  /* webkit é para o efeito funcionar no firefox*/
    text-shadow:0px 0px 5px #fff; 
}
.menu li  ul{
    position:absolute; 
    top:25px;    /*Muda a posição do sub-menu*/ 
    left:0;
    background-color: #fff; /* cor do fundo do sub menu*/
    display:none;
    }  
    	
.menu li:hover ul, .menu li.over ul{
    display:block;
}

.menu li ul li{
    border:1px solid #C0C0C0; /* cor hora que passa o mouse no sub menu */
    display:block; 
    width: 150px;
    }

.efeito{
    background-color:  #8f7e7ead;
    padding: 50px 0 50px;    	
}

img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    transition: transform 500ms;
}

img:hover{            /*hover é quando passa o mouse*/
    transform: scale(1.2);
    box-shadow: 0px 0px 20px white;
}

.contato {
    text-align: center;
}

.contato a{
    color: whitesmoke;
    font-size: 9em;
    text-decoration: none;
}

.contato a:active,       /*é para dar um brilhinho no celular tb, ja que não tem mouse é no click*/
.contato a:hover{        /*hover é quando passa o mouse*/
    text-decoration: none;
    text-shadow: 0px 0px 10px white;
}

.grid{
    display: grid;
    gap: 1em;
    grid-template-columns: 230px;
    justify-content: center;
}

.grid a {
    justify-content: center;
}

@media (min-width: 435px){
    .grid{
     grid-template-columns: repeat(2, 200px);
    }
}

@media (min-width: 650px){
    .grid{
     grid-template-columns: repeat(3, 200px);
     justify-content: center;
    }
}

@media (min-width: 1005px){
    .grid{
     grid-template-columns: repeat(4, 250px);
     justify-content: center;
    }
}

